<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobname.css' %}">
</head>
<body>
    <h2>Create Projects</h2>
    <p><a href="/">Creating a New Extra Work Order</a></p>
    <p><a href="/workorder">Back to All Extra Work Orders</a></p>
    <div id="form_1">
        <form action="/create_jobname" method="post">
        {% csrf_token %}
        General Contractor: <input type="text" name="contractor_name" id=""><br><br>
        Name of Job: <input type="text" name="job_name" id=""><br><br>  
        <div id="address">
            Address: <br>
            Street: <input type="text" name="street" id="">
            City: <input type="text" name="city" id="">
            State: <input type="text" name="state" id="">
            Zipcode: <input type="number" name="zipcode" id="">
        </div> <br>
        <input type="submit" value="Create">
        </form>
    </div>
    <div>
        <table>
            <tr>
                <th>General Contractor</th>
                <th>Name of Job</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            {% for one_job in all_jobs reversed %}
            <tr>
                <td>{{one_job.contractor_name}}</td>
                <td>{{one_job.name}}</td>
                <td>
                    <ul>
                        <li>{{one_job.street}}</li>
                        <li>{{one_job.city}}</li>
                        <li>{{one_job.state}}</li>
                        <li>{{one_job.zip_code}}</li>
                    </ul>
                </td>
                <td>
                    <li><a href="/delete_job/{{one_job.id}}">Delete Job</a></li>
                    <li><a href="/edit/{{one_job.id}}">Edit Job</a></li>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>