#wrapper{
    margin: auto;
    max-width: 1200px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

#header{
    margin-top: 20px;
    display: block;
    height: 100px;
}

.head{
    display: inline-block;
    vertical-align: top;

}

#logo{
    height: auto;
    width: 260px;
    float: left;
}

ul{
    float: right;
}
li {
    text-decoration: none;
    list-style: none;
    margin-top: 5px;
}

#form_1{
    display: block;
}